<!DOCTYPE html>

    <img src="i will me an image later on..." alt="">
    <h1>You have arrived in Oregon City!</h1>
    <p>After a long and exhausting journey, You have Arrived in Oregon city. Tales will be told about your feats of strength, and you are ready to start your new life here on the west coast.
    </p>
    <%-include partials/game-status %>



    <a href="/"><button type="button" name="button">Play Again</button></a>
