<div class="jumbotron">
  <h1>Welcome to the Oregon Trail!!!</h1>
</div>
<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <h2>Enter Number of Travlers (max7)<h2>
      <form action="/nameTravelers" method="post"><input type="number" name="quantity" min="2" max="7">
        <input type="submit">
      </form>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
