<!DOCTYPE html>
<h1>Enter Party Names</h1>
    <div row="row">
    <div class="partyInput" col="col-sm-12">
    <form class="" action="/outset" method="post">
      <% for (let i=1; i<= members; i++) {%>
        <label>Traveler <%=i%>
          <input type="text" name=<%="traveler"+i%> value="">
        </label>
        <br>
    <% } %>
      <input type="submit" name="" value="Gather Supplies">
    </div>
    </div>
    </form>
